@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Source Sans 3", sans-serif; */
    font-family: "Raleway", sans-serif;
}

body {
    width: 500px;
    height: 450px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

header {
    background-color: aquamarine;
    margin: 5px;
    padding: 5px 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

nav ul li {
    margin: 0 10px;
}

nav li img {
    width: 25px;
    height: 25px;
}

p {
    font-weight: 500;
}