@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Source Sans 3", sans-serif; */
  font-family: "Raleway", sans-serif;
}

:root {
  --primary-color: #7029ff;
  --text-color: #ffffff;
  --secondary-color: #3b3c5a;
  --border-color: #5762a4;
  --placeholder-color: #ffffffbd;
}

::placeholder {
  color: var(--placeholder-color);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: var(--secondary-color);
  border-radius: 40px;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px var(--border-color);
}

body {
  background: var(--secondary-color);
  width: 500px;
  height: 450px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 10px 0;
}

main {
  position: relative;
}

/* Toast Message */
.toast {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: var(--border-color);
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 1000;
}

.toast.show {
  opacity: 1;
}

header {
  /* background-color: aquamarine; */
  /* margin: 5px; */
  padding: 5px 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--text-color);
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

nav ul li {
  display: flex;
  align-items: center;
  margin: 0 10px;
  border: 2px solid var(--border-color);
  padding: 5px 8px;
  border-radius: 10px;
}

nav ul li:hover {
  cursor: pointer;
  background: var(--border-color);
}

nav li img {
  width: 14px;
  height: 14px;
  margin-right: 4px;
}

p {
  font-weight: 500;
}

/* Header Style */
header .logo-wrapper {
  display: flex;
  align-items: center;
}

header .logo-wrapper .logo {
  width: 25px;
  margin-right: 8px;
}

#edit-button.active {
  background-color: var(--border-color);
}

/* Edit Panel CSS */
.hidden {
  display: none;
}

#edit {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--secondary-color);
}

#edit .edit-search-bar {
  margin: 10px 0;
}

#edit .edit-search-bar input {
  background: transparent;
  padding: 10px 15px;
  border: 2px solid var(--border-color);
  border-radius: 10px;
  width: 70%;
  outline: none;
  color: var(--text-color);
}

.edit-home-section {
  padding: 0 10px;
  height: 350px;
  overflow-y: scroll;
}

/* Social Media Container */
.social-media-container {
  display: flex;
  align-items: center;
  margin: 20px 0;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  width: 100%;
  padding: 10px;
}

.social-media-container .draggable-icon {
  width: 25px;
  height: 25px;
  cursor: move;
}

.social-media-container .social-media-info {
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 10px;
  justify-items: center;
  margin-left: 10px;
}

.social-media-info .copy-link {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid var(--border-color);
  display: grid;
  place-items: center;
  position: relative;
}

.copy-link:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.copy-icon {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0; /* Hide initially */
  transition: opacity 0.3s; /* Smooth transition for visibility */
  cursor: pointer;
}

.copy-link:hover .copy-icon {
  opacity: 1; /* Show on hover */
}

.social-media-info .copy-link .social-media-logo {
  width: 20px;
}

.social-media-info .copy-link .copy-icon {
  width: 15px;
}

.social-media-info .navigate-img {
  width: 13px;
  cursor: pointer;
  margin: 0 5px;
}

.social-media-info input {
  width: 100%;
  background: transparent;
  padding: 10px 20px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  outline: none;
  color: var(--text-color);
}

.social-media-info input:focus {
  border: 1px solid var(--placeholder-color);
}

.save-btn-wrapper {
  padding: 10px 0;
}

.save-btn-wrapper button {
  padding: 10px 30px;
  border-radius: 10px;
  background: var(--border-color);
  border: none;
  color: var(--text-color);
  cursor: pointer;
}

/* Front Panel */
#front {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(auto-fill, 50px);
  margin: 20px;
  gap: 15px;
  min-height: 300px;
  overflow-y: scroll;
  justify-items: center;
}

#front .social-icon {
  display: grid;
  height: 50px;
  width: 50px;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  place-items: center;
  position: relative;
}

.social-icon .social-media-logo {
  width: 20px;
  height: 20px;
}

.social-icon .copy-icon {
  width: 20px;
}
