@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Source Sans 3", sans-serif; */
    font-family: "Raleway", sans-serif;
    transition: all 300ms ease;
}

:root {
    --primary-color: #7029FF;
    --secondary-color: #B58FFF;
    --text-color: #EEEEEE;
    --text-color-2: #242327;
}

body {
    width: 500px;
    height: 450px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

a {
    all:unset;
    cursor: pointer;
}

/* ============== Header ============== */

header {
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 0.8rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#name a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

#name img {
    width: 20px;
    height: 20px;
}

#name h1 {
    font-size: 1.5rem;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1.5rem;
}

nav ul li {
    list-style: none;
}

nav li button {
    width: 25px;
    height: 25px;
    border: none;
    background-color: transparent;
}

nav li button:active {
    transform: scale(0.9);
    transition-duration: 100ms;
}

#info-btn {
    background-image: url("../assets/logos/info.png");
    background-size: cover;
    cursor: pointer;
}

#info-btn:hover {
    background-image: url("../assets/logos/info-hover.png");
}

#edit-btn {
    background-image: url("../assets/logos/edit.png");
    background-size: cover;
    cursor: pointer;
}

#edit-btn:hover {
    background-image: url("../assets/logos/edit-hover.png");
}

/* ============== main ============== */
main {
    width: 100%;
    height: 400px;
    background-color: var(--secondary-color);
    overflow-x: hidden;
}

section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 1rem;
    padding: 1rem 2rem;
    position: relative;
    overflow-y: auto;
}

section::-webkit-scrollbar {
    width: 0.6rem;
    background-color: transparent;
}

section::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 10px;
    height: 30px;
}


h2 {
    font-size: 1.5rem;
}

p {
    font-weight: 500;
}

.hidden {
    display: none;
    padding: 0px;
    margin: 0px;
}



/* ============== Info Panel ============== */

#heading {
    width: fit-content;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 1.2rem;
    padding-bottom: 2rem;
    background-color: var(--primary-color);
    color: var(--text-color);
    border-radius: 10px;
}

#heading img {
    width: 25px;
    height: 25px;
}

#tagline {
    font-size: 0.75rem;
    font-weight: 500;
    color: var(--text-color);
    align-self: center;
    position: absolute;
    top: 70px;
}

h3 {
    color: var(--primary-color);
    font-size: 1.2rem;
    font-weight: 800;
    border-bottom: 2px solid var(--primary-color);
    padding-bottom: 0.2rem;
    margin-bottom: 0.5rem;
}

#about p, #commands p {
    font-size: 0.9rem;
}

#commands .cmd {
    background-color: #c5aff3;
    color: var(--primary-color);
    font-family: "Fira code", monospace;
    font-size: 0.8rem;
    font-weight: 600;
    padding: 1px 10px;
    border-radius: 5px;
}

#commands button {
    margin-top: 5px;
    background: var(--text-color);
    color: var(--primary-color);
    font-size: 0.9rem;
    font-weight: 800;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

#commands button:active {
    transform: scale(0.9);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 1rem 0;
}

table tr {
    border-bottom: 1px solid var(--primary-color);
    font-size: 0.9rem;
    font-weight: 600;
}

table tr:hover {
    background-color: #ffffff77;
}

table th {
    background-color: var(--primary-color);
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 700;
    padding: 0.5rem;
}

table td {
    color: var(--primary-color);
    padding: 0.5rem;
    width: 30%;
}

#credits {
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    font-size: 0.8rem;
    padding: 1rem 0;
    border-top: 2px solid var(--primary-color);
}

#credits a:hover {
    color: var(--text-color);
}

#images {
    display: flex;
    gap: 1.5rem;
}
#images img {
    width: 35px;
    height: 35px;
}

#images img:hover {
    transform: scale(1.1);
}
.search {
    flex: 1;
    padding: 10px;
    border: 2px solid var(--primary-color) !important;
    border-radius: 5px;
    font-size: 16px;
    outline: none; /* Remove default outline */
    width: calc(100% - 100px);
    margin-right: 10px;
}

/* Add focus styles */
#edit {
    width: 100%; /* Set width to 100% */
    padding: 1rem 1rem;
    margin: 0; /* Remove margin */
}
.search:focus {
    border-color: #B58FFF; /* Adjust border color on focus */
    box-shadow: 0 0 5px rgba(113, 41, 255, 0.5); /* Add box shadow on focus */
}


.links-container {
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0; /* Remove margin */
    max-height: 400px;
    overflow-y: auto;
}

.links-container::-webkit-scrollbar {
    width: 0.6rem;
    background-color: transparent;
}

.links-container::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 10px;
    height: 30px;
}
    
.link-box {
    display: flex;
    align-items: center;
    background-color: #f5f5f5; /* Light purple color */
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.social-icon {
    font-size: 24px;
    margin-right: 10px;
}

input[type="text"] {
    flex: 1;
    padding: 5px;
    border: none;
    background-color: transparent;
    font-size: 16px;
}

.arrow-icon {
    margin-left: 10px;
}

.arrow-icon img {
    width: 20px;
    height: 20px;
}

/* Focus and Hover Effects */
.link-box:focus-within,
.link-box:hover {
    background-color: #e0e0e0; /* Lighter shade on focus/hover */
}

.drag-handle {
    cursor: move;
    font-size: 24px;
    margin-right: 10px;
    color: var(--primary-color);
    opacity: 0.5;
}
.container {
    width: 100%;
    padding: 0;
    margin: 0;
}
.saving {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Adjust margin as needed */
}

.save {
    padding: 10px 20px;
    background-color: #7029FF; /* Adjust color as needed */
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.save:hover {
    background-color: #9a7ed2; /* Adjust hover color as needed */
}

