@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Source Sans 3", sans-serif; */
    font-family: "Raleway", sans-serif;
    transition: all 300ms ease;
}

:root {
    --primary-color: #7029ff;
    --background-color: #f5f5f5;
    --secondary-color: #b58fff;
    --accent-color: #eae4f7;
    --text-color: #eeeeee;
    --text-color-2: #242327;
}

body {
    width: 500px;
    height: 450px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    scroll-behavior: smooth;
}

a {
    all: unset;
    cursor: pointer;
}

/* ============== Header ============== */

header {
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 0.8rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#name a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

#name img {
    width: 20px;
    height: 20px;
}

#name h1 {
    font-size: 1.5rem;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1.5rem;
}

nav ul li {
    list-style: none;
}

nav li button {
    width: 25px;
    height: 25px;
    border: none;
    background-color: transparent;
}

nav li button:active {
    transform: scale(0.9);
    transition-duration: 100ms;
}

#info-btn {
    background-image: url("../assets/logos/info.png");
    background-size: cover;
    cursor: pointer;
}

#info-btn:hover {
    background-image: url("../assets/logos/info-hover.png");
}

#edit-btn {
    background-image: url("../assets/logos/edit.png");
    background-size: cover;
    cursor: pointer;
}

#edit-btn:hover {
    background-image: url("../assets/logos/edit-hover.png");
}

/* ============== main ============== */
main {
    width: 100%;
    height: 400px;
    background-color: var(--secondary-color);
    overflow-x: hidden;
}

section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 1rem;
    position: relative;
    overflow-y: auto;
}

section::-webkit-scrollbar {
    width: 0.6rem;
    background-color: transparent;
}

section::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    height: 30px;
}

h2 {
    font-size: 1.5rem;
}

p {
    font-weight: 500;
}

.hidden {
    display: none;
    padding: 0px;
    margin: 0px;
}

/* ============== Info Panel ============== */

#info {
    padding: 1rem 2rem;
}

#heading {
    width: fit-content;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 1.2rem;
    padding-bottom: 2rem;
    background-color: var(--primary-color);
    color: var(--text-color);
    border-radius: 10px;
}

#heading img {
    width: 25px;
    height: 25px;
}

#tagline {
    font-size: 0.75rem;
    font-weight: 500;
    color: var(--text-color);
    align-self: center;
    position: absolute;
    top: 70px;
}

h3 {
    color: var(--primary-color);
    font-size: 1.2rem;
    font-weight: 800;
    border-bottom: 2px solid var(--primary-color);
    padding-bottom: 0.2rem;
    margin-bottom: 0.5rem;
}

#about p,
#commands p {
    font-size: 0.9rem;
}

#about p strong {
    color: var(--primary-color);
    font-weight: 800;
}

#commands .cmd {
    background-color: #c5aff3;
    color: var(--primary-color);
    font-family: "Fira code", monospace;
    font-size: 0.8rem;
    font-weight: 600;
    padding: 1px 10px;
    border-radius: 5px;
}

#commands button {
    margin-top: 5px;
    background: var(--text-color);
    color: var(--primary-color);
    font-size: 0.9rem;
    font-weight: 800;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

#commands button:active {
    transform: scale(0.9);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 1rem 0;
}

table tr {
    border-bottom: 1px solid var(--primary-color);
    font-size: 0.9rem;
    font-weight: 600;
}

table tr:hover {
    background-color: #ffffff77;
}

table th {
    background-color: var(--primary-color);
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 700;
    padding: 0.5rem;
}

table td {
    color: var(--primary-color);
    padding: 0.5rem;
    width: 30%;
}

#credits {
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    font-size: 0.8rem;
    padding: 1rem 0;
    border-top: 2px solid var(--primary-color);
}

#credits a:hover {
    color: var(--text-color);
}

#images {
    display: flex;
    gap: 1.5rem;
}
#images img {
    width: 35px;
    height: 35px;
}

#images img:hover {
    transform: scale(1.1);
}

/* ============== Edut Panel ============== */
#edit {
    gap: 0;
}

.search {
    flex: 1;
    padding: 10px;
    border: 2px solid var(--primary-color) !important;
    border-radius: 5px;
    font-size: 16px;
    outline: none; /* Remove default outline */
    width: calc(100% - 100px);
    margin-right: 10px;
}

.search:focus {
    border-color: #b58fff; /* Adjust border color on focus */
    box-shadow: 0 0 5px rgba(113, 41, 255, 0.5); /* Add box shadow on focus */
}

#links-container {
    min-height: 250px;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style-type: none;
    overflow-y: auto;
    background-color: var(--secondary-color);
}

#links-container::-webkit-scrollbar {
    width: 0.6rem;
    background-color: transparent;
}

#links-container::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    height: 30px;
}

.link-box {
    display: flex;
    background-color: transparent;
    flex-direction: row;
    padding-right: 1.8rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.dragger {
    width: auto;
    height: 25px;
    visibility: hidden;
    cursor: ns-resize;
}

.link-box:focus-within .dragger,
.link-box:hover .dragger {
    visibility: visible;
}

.link {
    width: 420px;
    padding: 10px;
    background-color: var(--accent-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    border: 2px solid transparent;
    border: 2px solid var(--secondary-color);
    border-radius: 10px;
}

.link-box:focus-within .link,
.link-box:hover .link {
    border-color: var(--primary-color);
    background-color: var(--text-color);
}

.icon {
    width: 25px;
    height: 25px;
}

.link button {
    width: 40px;
    height: 30px;
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.link button:active {
    transform: scale(0.8);
    transition-duration: 100ms;
}

.link button:disabled {
    cursor: not-allowed;
    opacity: 0.1;
}

.link button img {
    width: 20px;
    height: 20px;
}

.link input[type="text"] {
    flex: 1;
    margin-top: 5px;
    padding-bottom: 2px;
    background-color: transparent;
    font-size: 0.9rem;
    border: none;
    outline: none;
    color: var(--primary-color);
    font-weight: 600;
    border-bottom: 2px solid transparent;
    caret-color: var(--primary-color);
    caret: pointer;
}

.link input[type="text"]:focus {
    border-color: var(--primary-color);
}

.link input[type="text"]::placeholder {
    color: var(--primary-color);
    font-weight: 500;
    font-style: italic;
}


#save-btn-area {
    display: flex;
    justify-content: center;
    background-color: var(--secondary-color);
    padding: 1rem;
}

#save-btn {
    padding: 0.7rem 2.3rem;
    background-color: var(--primary-color);
    color: var(--text-color);
    font-weight: 600;
    border: 2px solid transparent;
    border-radius: 5px;
    font-size: 0.9rem;
    cursor: pointer;
}

#save-btn:active {
    transform: scale(0.9);
    transition-duration: 100ms;
}

.search-container {
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 3px;
}

.search-input {
    flex: 0 1 400px;
    padding: 8px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

/* Focus, hover, and active effects for search bar */
.search-input:focus {
    outline: 2px solid var(--secondary-color);
    box-shadow: 0 0 5px var(--secondary-color);
}

.search-input:hover {
    box-shadow: 0 0 5px var(--secondary-color);
}

/* Hover and active effects for add link button */
.add-link-btn:hover {
    background-color: var(--secondary-color); /* Assuming var(--secondary-color-hover) is defined */
    box-shadow: 0 0 5px var(--secondary-color);
}

.add-link-btn:active {
    background-color: var(--secondary-color);
    box-shadow: 0 0 5px var(--secondary-color);
    transform: scale(0.98);
}

.add-link-btn {
    background-color: var(--secondary-color);
    color: var(--text-color-2);
    border: none;
    border-radius: 5px;
    padding: 8px 8px;
    margin-left: 14px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.add-link-btn img {
    margin-right: 3px;
    width: 24px;
    height: 24px;
}
